body {
	text-align: center;
}
#opponent-board, 
#player-board {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 400px;
}

div {
	position: absolute;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
	background: #f6f8f9; /* Old browsers */
	border: 1px solid #ddd;
	width:50px;
	height:50px;
}

#ship {
	background-color: blue;
	height: 50px;
	width: 150px;
}
#big-ship {
	background-color: blue;
	height: 50px;
	width: 200px;
}
#small-ship {
	background-color: blue;
	height: 50px;
	width: 100px;
}
#op-ship {
	background-color: brown;
	height: 50px;
	width: 150px;
}