body {
	text-align: center;
	background-image: url(https://thumbs.gfycat.com/BlankBelovedBubblefish-size_restricted.gif);
	background-size: cover;
	font-family: 'Bungee', cursive;
	display: block;
}
#opponent-board, 
#player-board {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 400px;
}

div {
	position: absolute;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	background: #f6f8f9;
	border: 1px solid #ddd;
	width:50px;
	height:50px;
	opacity: 0.8;
}

img {
	height: 50px;
	width: 50px;
}
#log {
	height: 200px;
	width: 200px;
	margin-left: 100px;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}
h1{
	color: #F5F2E3;
	background-color: black;
	max-width: 400px;
	position: relative;
	margin-left: 36%
}
button{
	width: 100px;
	height: 50px;
	background-color: #65db32;
	margin: 5px 30px;
}