body {
	text-align: center;
	background-image: url(https://thumbs.gfycat.com/BlankBelovedBubblefish-size_restricted.gif);
	background-size: cover;
	font-family: 'Bungee', cursive;
	display: block;
}
#opponent-board, 
#player-board {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 400px;
}

h3 {
	color: #F5F2E3;
}

div {
	position: absolute;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	background: #f6f8f9;
	border: 1px solid #ddd;
	width:50px;
	height:50px;
	opacity: 0.8;
}

img {
	height: 50px;
	width: 50px;
}
#log {
	height: 200px;
	width: 200px;
	margin-left: 5%;
	border-radius: 25px;
}

h1{
	color: #F5F2E3;
	background-color: black;
	max-width: 400px;
	margin: 0 auto;
}

button{
	width: 100px;
	height: 50px;
	background-color: #65db32;
	margin: 5px 30px;
}

@media screen and (max-width: 970px){
	#player-board {
		margin-top: 300px;
	}

	#log {
		margin-left: 37%;
	}
}
@media screen and (max-width: 440px){
	#log {
		margin-left: 25%;
	}
}
